# Base for MkDocs.

site_name: .github
site_author: Lotchi Studio
copyright: Lotchi Studio | Licensed under the MIT License
repo_url: https://github.com/lotchi-studio/.github
repo_name: .github
edit_uri: edit/main/docs/

###### Custom ##################################################################

extra_css:
  - stylesheets/extra.css

###### Theme ###################################################################

theme:
  name: material
  language: en
  favicon: images/lotchi_logo_noborder_white_orange_nobg.svg
  logo: images/lotchi_logo_noborder_white_orange_nobg.svg
  icon:
    repo: material/github
  features:
    - announce.dismiss
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.annotate
    - content.tooltips
    - content.tabs.link
    - content.action.edit
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

###### Markdown extensions #####################################################

markdown_extensions:
  - footnotes
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - tables
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.b64
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - git-authors
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: lotchi-studio/ls-core
      branch: main
      token: !ENV [C14_GITHUB_TOKEN, ""]
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      # custom_templates: templates
      handlers:
        python:
          options:
            # paths: [src]
            heading_level: 2
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            separate_signature: true
            parameter_headings: true
            line_length: 80
            show_signature_annotations: true
            signature_crossrefs: true
            docstring_style: google
            docstring_section_style: table
            show_if_no_docstring: false
            show_docstring_attributes: true
            annotations_path: brief
            show_submodules: true
            show_root_heading: false
            show_root_full_path: false
            show_source: false
            find_stubs_package: true
            summary: true

###### Navigation ##############################################################

nav:
  - Home: index.md
  - Changelog: changelog.md
  - ls_core:
      - config:
          - settings: ls_core/config/settings.md
      - environment:
          - build: ls_core/environment/build.md
          - constants: ls_core/environment/constants.md
      - log:
          - logger: ls_core/log/logger.md
      - platform:
          - kitsu:
              - enumeration: ls_core/platform/kitsu/enumeration.md
              - main: ls_core/platform/kitsu/main.md
              - output_file: ls_core/platform/kitsu/output_file.md
              - working_file: ls_core/platform/kitsu/working_file.md
      - utils:
          - misc: ls_core/utils/misc.md
          - profile: ls_core/utils/profile.md
